In [1]:
import numpy as np
import pandas as pd

In [2]:
student_dict = {
    "Name":['Shakil','Ridoy','Shaiful','Banna'],
    "ID":[15,11,14,13],
    "Address":['Hemayetpur','Kollanpur','Savar','Mirpur'],
    "Age":[23,24,26,25]
}

In [3]:
students_tab = pd.DataFrame(student_dict)

In [4]:
print("Students List:\n",students_tab)

Students List:
       Name  ID     Address  Age
0   Shakil  15  Hemayetpur   23
1    Ridoy  11   Kollanpur   24
2  Shaiful  14       Savar   26
3    Banna  13      Mirpur   25

In [5]:
students_tab.to_csv('list.csv')
students_tab.to_csv('list_without_index.csv', index=False)
print("Show the first 2 rows:\n",students_tab.head(2))
print("\nShow the last 2 rows:\n",students_tab.tail(2))

Show the first 2 rows:
      Name  ID     Address  Age
0  Shakil  15  Hemayetpur   23
1   Ridoy  11   Kollanpur   24

Show the last 2 rows:
       Name  ID Address  Age
2  Shaiful  14   Savar   26
3    Banna  13  Mirpur   25

In [6]:
print("\nDescribe the data frame:\n",students_tab.describe())

Describe the data frame:
               ID        Age
count   4.000000   4.000000
mean   13.250000  24.500000
std     1.707825   1.290994
min    11.000000  23.000000
25%    12.500000  23.750000
50%    13.500000  24.500000
75%    14.250000  25.250000
max    15.000000  26.000000

In [7]:
studentList2 = pd.read_csv('StudentList.csv')
print("\nStudents List 2:\n",studentList2)
print("\nPrint the student list 2 Marks:\n",studentList2['Roll NO'])
print("\nPrint 1 index student roll:",studentList2['Roll NO'][1])

Students List 2:
    Roll NO     Name  Dept.  Marks
0     1545    Rahim    CSE     55
1     7545    Karim    CSE     45
2     1545    Jahid    EEE     78
3     6512  Rafique  Civil     95
4     1456     Rafi    IPH     25
5      326  Shaidul    EEE     12

Print the student list 2 Marks:
 0    1545
1    7545
2    1545
3    6512
4    1456
5     326
Name: Roll NO, dtype: int64

Print 1 index student roll: 7545

In [8]:
newdf1 = pd.DataFrame(np.random.rand(300,4), index=np.arange(300))
print("Random Data Set generate:\n", newdf1)
print("\nData Frame Types:\n",newdf1.dtypes)
print("\nData Frame Head:\n",newdf1.head(4))

Random Data Set generate:
             0         1         2         3
0    0.875751  0.911102  0.459204  0.010794
1    0.303237  0.401338  0.023158  0.970546
2    0.914448  0.461241  0.775111  0.187342
3    0.520005  0.519051  0.865163  0.505853
4    0.347212  0.240804  0.006705  0.795129
..        ...       ...       ...       ...
295  0.536607  0.422304  0.774033  0.789704
296  0.388263  0.821250  0.199074  0.488542
297  0.503948  0.151826  0.142850  0.380553
298  0.296732  0.028162  0.207288  0.184905
299  0.611377  0.811757  0.690619  0.677967

[300 rows x 4 columns]

Data Frame Types:
 0    float64
1    float64
2    float64
3    float64
dtype: object

Data Frame Head:
           0         1         2         3
0  0.875751  0.911102  0.459204  0.010794
1  0.303237  0.401338  0.023158  0.970546
2  0.914448  0.461241  0.775111  0.187342
3  0.520005  0.519051  0.865163  0.505853

In [9]:
print("\nData Frame Tail:\n",newdf1.tail())

Data Frame Tail:
             0         1         2         3
295  0.536607  0.422304  0.774033  0.789704
296  0.388263  0.821250  0.199074  0.488542
297  0.503948  0.151826  0.142850  0.380553
298  0.296732  0.028162  0.207288  0.184905
299  0.611377  0.811757  0.690619  0.677967

In [10]:
print("\nData Frame Describe:\n",newdf1.describe())

Data Frame Describe:
                 0           1           2           3
count  300.000000  300.000000  300.000000  300.000000
mean     0.516694    0.518878    0.496731    0.483977
std      0.282803    0.280476    0.292918    0.284300
min      0.001299    0.011282    0.006705    0.003613
25%      0.286254    0.298339    0.245568    0.223751
50%      0.534420    0.505407    0.500578    0.484568
75%      0.742720    0.746444    0.765192    0.729316
max      0.998724    0.994735    0.992757    0.998756

In [11]:
newdf1[0][0] = 'Shakil'
print(newdf1.head())

          0         1         2         3
0    Shakil  0.911102  0.459204  0.010794
1  0.303237  0.401338  0.023158  0.970546
2  0.914448  0.461241  0.775111  0.187342
3  0.520005  0.519051  0.865163  0.505853
4  0.347212  0.240804  0.006705  0.795129

In [12]:
print(newdf1.dtypes)

0     object
1    float64
2    float64
3    float64
dtype: object

In [13]:
print(newdf1.columns)

RangeIndex(start=0, stop=4, step=1)

In [14]:
print(newdf1.sort_index(axis=0, ascending=False))

            0         1         2         3
299  0.611377  0.811757  0.690619  0.677967
298  0.296732  0.028162  0.207288  0.184905
297  0.503948  0.151826  0.142850  0.380553
296  0.388263  0.821250  0.199074  0.488542
295  0.536607  0.422304  0.774033  0.789704
..        ...       ...       ...       ...
4    0.347212  0.240804  0.006705  0.795129
3    0.520005  0.519051  0.865163  0.505853
2    0.914448  0.461241  0.775111  0.187342
1    0.303237  0.401338  0.023158  0.970546
0      Shakil  0.911102  0.459204  0.010794

[300 rows x 4 columns]

In [15]:
print(newdf1.sort_index(axis=0))

            0         1         2         3
0      Shakil  0.911102  0.459204  0.010794
1    0.303237  0.401338  0.023158  0.970546
2    0.914448  0.461241  0.775111  0.187342
3    0.520005  0.519051  0.865163  0.505853
4    0.347212  0.240804  0.006705  0.795129
..        ...       ...       ...       ...
295  0.536607  0.422304  0.774033  0.789704
296  0.388263  0.821250  0.199074  0.488542
297  0.503948  0.151826  0.142850  0.380553
298  0.296732  0.028162  0.207288  0.184905
299  0.611377  0.811757  0.690619  0.677967

[300 rows x 4 columns]

In [16]:
newdf1.columns = list("ABCD")
newdf1.loc[0,'B'] = 64661
print(newdf1.head())

          A             B         C         D
0    Shakil  64661.000000  0.459204  0.010794
1  0.303237      0.401338  0.023158  0.970546
2  0.914448      0.461241  0.775111  0.187342
3  0.520005      0.519051  0.865163  0.505853
4  0.347212      0.240804  0.006705  0.795129

In [17]:
print(newdf1.drop('D', axis=1))

            A             B         C
0      Shakil  64661.000000  0.459204
1    0.303237      0.401338  0.023158
2    0.914448      0.461241  0.775111
3    0.520005      0.519051  0.865163
4    0.347212      0.240804  0.006705
..        ...           ...       ...
295  0.536607      0.422304  0.774033
296  0.388263      0.821250  0.199074
297  0.503948      0.151826  0.142850
298  0.296732      0.028162  0.207288
299  0.611377      0.811757  0.690619

[300 rows x 3 columns]

In [18]:
print("\nShow the specific row and  columns:\n",newdf1.loc[[1,2,3,7],['C','A']])
print("\nshow the specific row and  all columns:\n",newdf1.loc[[1,25,31,75],:])
print("\nSpecific Value wise filter the dataframe:\n",newdf1.loc[(newdf1['A']=="Shakil")])

Show the specific row and  columns:
           C         A
1  0.023158  0.303237
2  0.775111  0.914448
3  0.865163  0.520005
7  0.107002   0.11495

show the specific row and  all columns:
            A         B         C         D
1   0.303237  0.401338  0.023158  0.970546
25  0.001299  0.490342  0.612636  0.754132
31  0.955608  0.167984  0.125719  0.620501
75  0.282659  0.874272  0.768441  0.459657

Specific Value wise filter the dataframe:
         A        B         C         D
0  Shakil  64661.0  0.459204  0.010794

In [19]:
newdf1.drop([1,4,7,9], axis=0,inplace=True)
print(newdf1.head(5))

          A             B         C         D
0    Shakil  64661.000000  0.459204  0.010794
2  0.914448      0.461241  0.775111  0.187342
3  0.520005      0.519051  0.865163  0.505853
5    0.4456      0.550464  0.426782  0.423058
6  0.792505      0.185904  0.513030  0.229239

In [20]:
print(newdf1.reset_index(drop=True))
print(newdf1['B'].isnull())

            A             B         C         D
0      Shakil  64661.000000  0.459204  0.010794
1    0.914448      0.461241  0.775111  0.187342
2    0.520005      0.519051  0.865163  0.505853
3      0.4456      0.550464  0.426782  0.423058
4    0.792505      0.185904  0.513030  0.229239
..        ...           ...       ...       ...
291  0.536607      0.422304  0.774033  0.789704
292  0.388263      0.821250  0.199074  0.488542
293  0.503948      0.151826  0.142850  0.380553
294  0.296732      0.028162  0.207288  0.184905
295  0.611377      0.811757  0.690619  0.677967

[296 rows x 4 columns]
0      False
2      False
3      False
5      False
6      False
       ...
295    False
296    False
297    False
298    False
299    False
Name: B, Length: 296, dtype: bool

In [21]:
newdf2 = pd.read_csv('dataframe.csv')

In [22]:
print(newdf2)

   Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
2     1545    Jahid    EEE    78
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12
6     1545    Rahim    CSE    55

In [23]:
print("Drop the null value:\n",newdf2.dropna())
print("\nDrop the duplicates value & keep single one:\n",newdf2.drop_duplicates(subset=['Roll NO']))
print("\nDrop the duplicates value & keep first duplicates value:\n",newdf2.drop_duplicates(subset=['Roll NO'],keep='first'))
print("\nDrop the duplicates value & keep last duplicates value:\n",newdf2.drop_duplicates(subset=['Roll NO'],keep='last'))
print("\nDrop the duplicates all values:\n",newdf2.drop_duplicates(subset=['Roll NO'],keep=False))

Drop the null value:
    Roll NO     Name Dept. Marks
0     1545    Rahim   CSE    55
2     1545    Jahid   EEE    78
4     1456     Rafi   IPH   Nan
5      326  Shaidul   EEE    12
6     1545    Rahim   CSE    55

Drop the duplicates value & keep single one:
    Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12

Drop the duplicates value & keep first duplicates value:
    Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12

Drop the duplicates value & keep last duplicates value:
    Roll NO     Name  Dept. Marks
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12
6     1545    Rahim    CSE    55

Drop the duplicates all values:
    Roll NO     Name  Dept. Marks
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12

In [24]:
print(newdf1.shape)

(296, 4)

In [25]:
print(newdf2)

   Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
2     1545    Jahid    EEE    78
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12
6     1545    Rahim    CSE    55

In [26]:
print("Data Frame Info:\n",newdf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll NO  7 non-null      int64
 1   Name     6 non-null      object
 2   Dept.    6 non-null      object
 3   Marks    7 non-null      object
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes
Data Frame Info:
 None

In [27]:
print(newdf2.notnull())

   Roll NO   Name  Dept.  Marks
0     True   True   True   True
1     True   True  False   True
2     True   True   True   True
3     True  False   True   True
4     True   True   True   True
5     True   True   True   True
6     True   True   True   True

In [43]:
newdf3 = pd.read_excel('instututesdf.xlsx')
print("Institute data frame:\n", newdf3)

Institute data frame:
      ID No Std Name   Dept
0      451    Rohim    cse
1      452    korim    eee
2      845    jahid    cse
3     2665   khalid    iph
4     9532   kuddus  civil
5  6349456   shamim    eee

In [45]:
newdf3 = pd.read_excel('instututesdf.xlsx', sheet_name='teclist')
print("Institute data frame:\n", newdf3)

Institute data frame:
    ID No Tec Name         Desig
0    895   Sajjad      lecturer
1   6463    nokib  sr. lecturer
2   6894    jakir  head teacher
3    923    dulal  jr. lecturer
4    445    kalam  jr. lecturer
5   9823    feroz      lecturer

In [48]:
newdf3.iloc[0,0] = 50
print(newdf3)

   ID No Tec Name         Desig
0     50   Sajjad      lecturer
1   6463    nokib  sr. lecturer
2   6894    jakir  head teacher
3    923    dulal  jr. lecturer
4    445    kalam  jr. lecturer
5   9823    feroz      lecturer