In [2]:
import numpy as np
import pandas as pd

In [3]:
student_dict = {
    "Name":['Shakil','Ridoy','Shaiful','Banna'],
    "ID":[15,11,14,13],
    "Address":['Hemayetpur','Kollanpur','Savar','Mirpur'],
    "Age":[23,24,26,25]
}

In [4]:
students_tab = pd.DataFrame(student_dict)

In [6]:
print("Students List:\n",students_tab)

Students List:
       Name  ID     Address  Age
0   Shakil  15  Hemayetpur   23
1    Ridoy  11   Kollanpur   24
2  Shaiful  14       Savar   26
3    Banna  13      Mirpur   25

In [10]:
students_tab.to_csv('list.csv')
students_tab.to_csv('list_without_index.csv', index=False)
print("Show the first 2 rows:\n",students_tab.head(2))
print("\nShow the last 2 rows:\n",students_tab.tail(2))

Show the first 2 rows:
      Name  ID     Address  Age
0  Shakil  15  Hemayetpur   23
1   Ridoy  11   Kollanpur   24

Show the last 2 rows:
       Name  ID Address  Age
2  Shaiful  14   Savar   26
3    Banna  13  Mirpur   25

In [11]:
print("\nDescribe the data frame:\n",students_tab.describe())

Describe the data frame:
               ID        Age
count   4.000000   4.000000
mean   13.250000  24.500000
std     1.707825   1.290994
min    11.000000  23.000000
25%    12.500000  23.750000
50%    13.500000  24.500000
75%    14.250000  25.250000
max    15.000000  26.000000

In [13]:
studentList2 = pd.read_csv('StudentList.csv')
print("\nStudents List 2:\n",studentList2)
print("\nPrint the student list 2 Marks:\n",studentList2['Roll NO'])
print("\nPrint 1 index student roll:",studentList2['Roll NO'][1])

Students List 2:
    Roll NO     Name  Dept.  Marks
0     1545    Rahim    CSE     55
1     7545    Karim    CSE     45
2     1545    Jahid    EEE     78
3     6512  Rafique  Civil     95
4     1456     Rafi    IPH     25
5      326  Shaidul    EEE     12

Print the student list 2 Marks:
 0    1545
1    7545
2    1545
3    6512
4    1456
5     326
Name: Roll NO, dtype: int64

Print 1 index student roll: 7545

In [21]:
newdf1 = pd.DataFrame(np.random.rand(300,4), index=np.arange(300))
print("Random Data Set generate:\n", newdf1)
print("\nData Frame Types:\n",newdf1.dtypes)
print("\nData Frame Head:\n",newdf1.head(4))

Random Data Set generate:
             0         1         2         3
0    0.888990  0.072878  0.335168  0.251478
1    0.183285  0.003617  0.305507  0.043098
2    0.437044  0.219561  0.463124  0.542172
3    0.205953  0.492955  0.866545  0.601243
4    0.365647  0.928124  0.002158  0.183248
..        ...       ...       ...       ...
295  0.060844  0.677791  0.089669  0.741916
296  0.599652  0.571352  0.840453  0.604887
297  0.137837  0.233307  0.731793  0.400853
298  0.518652  0.883495  0.336327  0.864569
299  0.528368  0.237830  0.949661  0.476465

[300 rows x 4 columns]

Data Frame Types:
 0    float64
1    float64
2    float64
3    float64
dtype: object

Data Frame Head:
           0         1         2         3
0  0.888990  0.072878  0.335168  0.251478
1  0.183285  0.003617  0.305507  0.043098
2  0.437044  0.219561  0.463124  0.542172
3  0.205953  0.492955  0.866545  0.601243

In [17]:
print("\nData Frame Tail:\n",newdf1.tail())

Data Frame Tail:
             0         1         2         3
295  0.015065  0.143851  0.489830  0.832651
296  0.177939  0.444668  0.879211  0.673715
297  0.903664  0.437772  0.505299  0.823309
298  0.329543  0.588868  0.737092  0.355174
299  0.638750  0.148366  0.306939  0.533391

In [18]:
print("\nData Frame Describe:\n",newdf1.describe())

Data Frame Describe:
                 0           1           2           3
count  300.000000  300.000000  300.000000  300.000000
mean     0.484343    0.491418    0.480151    0.491113
std      0.288994    0.291027    0.279917    0.292248
min      0.004078    0.002838    0.001327    0.003945
25%      0.237083    0.236337    0.241611    0.232833
50%      0.484519    0.474039    0.482518    0.487226
75%      0.710207    0.754692    0.705901    0.738881
max      0.987557    0.995717    0.999632    0.999050

In [22]:
newdf1[0][0] = 'Shakil'
print(newdf1.head())

          0         1         2         3
0    Shakil  0.072878  0.335168  0.251478
1  0.183285  0.003617  0.305507  0.043098
2  0.437044  0.219561  0.463124  0.542172
3  0.205953  0.492955  0.866545  0.601243
4  0.365647  0.928124  0.002158  0.183248
0     object
1    float64
2    float64
3    float64
dtype: object

In [23]:
print(newdf1.dtypes)

0     object
1    float64
2    float64
3    float64
dtype: object

In [24]:
print(newdf1.columns)

RangeIndex(start=0, stop=4, step=1)

In [25]:
print(newdf1.sort_index(axis=0, ascending=False))

            0         1         2         3
299  0.528368  0.237830  0.949661  0.476465
298  0.518652  0.883495  0.336327  0.864569
297  0.137837  0.233307  0.731793  0.400853
296  0.599652  0.571352  0.840453  0.604887
295  0.060844  0.677791  0.089669  0.741916
..        ...       ...       ...       ...
4    0.365647  0.928124  0.002158  0.183248
3    0.205953  0.492955  0.866545  0.601243
2    0.437044  0.219561  0.463124  0.542172
1    0.183285  0.003617  0.305507  0.043098
0      Shakil  0.072878  0.335168  0.251478

[300 rows x 4 columns]

In [26]:
print(newdf1.sort_index(axis=0))

            0         1         2         3
0      Shakil  0.072878  0.335168  0.251478
1    0.183285  0.003617  0.305507  0.043098
2    0.437044  0.219561  0.463124  0.542172
3    0.205953  0.492955  0.866545  0.601243
4    0.365647  0.928124  0.002158  0.183248
..        ...       ...       ...       ...
295  0.060844  0.677791  0.089669  0.741916
296  0.599652  0.571352  0.840453  0.604887
297  0.137837  0.233307  0.731793  0.400853
298  0.518652  0.883495  0.336327  0.864569
299  0.528368  0.237830  0.949661  0.476465

[300 rows x 4 columns]

In [28]:
newdf1.columns = list("ABCD")
newdf1.loc[0,'B'] = 64661
print(newdf1.head())

          A             B         C         D
0    Shakil  64661.000000  0.335168  0.251478
1  0.183285      0.003617  0.305507  0.043098
2  0.437044      0.219561  0.463124  0.542172
3  0.205953      0.492955  0.866545  0.601243
4  0.365647      0.928124  0.002158  0.183248

In [29]:
print(newdf1.drop('D', axis=1))

            A             B         C
0      Shakil  64661.000000  0.335168
1    0.183285      0.003617  0.305507
2    0.437044      0.219561  0.463124
3    0.205953      0.492955  0.866545
4    0.365647      0.928124  0.002158
..        ...           ...       ...
295  0.060844      0.677791  0.089669
296  0.599652      0.571352  0.840453
297  0.137837      0.233307  0.731793
298  0.518652      0.883495  0.336327
299  0.528368      0.237830  0.949661

[300 rows x 3 columns]

In [30]:
print("\nShow the specific row and  columns:\n",newdf1.loc[[1,2,3,7],['C','A']])
print("\nshow the specific row and  all columns:\n",newdf1.loc[[1,25,31,75],:])
print("\nSpecific Value wise filter the dataframe:\n",newdf1.loc[(newdf1['A']=="Shakil")])

Show the specific row and  columns:
           C         A
1  0.305507  0.183285
2  0.463124  0.437044
3  0.866545  0.205953
7  0.459122  0.882255

show the specific row and  all columns:
            A         B         C         D
1   0.183285  0.003617  0.305507  0.043098
25  0.619047  0.603635  0.431059  0.402389
31  0.545419  0.661042  0.540040  0.370848
75  0.082028  0.613454  0.119601  0.276034

Specific Value wise filter the dataframe:
         A        B         C         D
0  Shakil  64661.0  0.335168  0.251478

In [31]:
newdf1.drop([1,4,7,9], axis=0,inplace=True)
print(newdf1.head(5))

          A             B         C         D
0    Shakil  64661.000000  0.335168  0.251478
2  0.437044      0.219561  0.463124  0.542172
3  0.205953      0.492955  0.866545  0.601243
5  0.945651      0.101764  0.496143  0.586580
6  0.646386      0.655570  0.470781  0.056494

In [32]:
print(newdf1.reset_index(drop=True))
print(newdf1['B'].isnull())

            A             B         C         D
0      Shakil  64661.000000  0.335168  0.251478
1    0.437044      0.219561  0.463124  0.542172
2    0.205953      0.492955  0.866545  0.601243
3    0.945651      0.101764  0.496143  0.586580
4    0.646386      0.655570  0.470781  0.056494
..        ...           ...       ...       ...
291  0.060844      0.677791  0.089669  0.741916
292  0.599652      0.571352  0.840453  0.604887
293  0.137837      0.233307  0.731793  0.400853
294  0.518652      0.883495  0.336327  0.864569
295  0.528368      0.237830  0.949661  0.476465

[296 rows x 4 columns]
0      False
2      False
3      False
5      False
6      False
       ...
295    False
296    False
297    False
298    False
299    False
Name: B, Length: 296, dtype: bool

In [33]:
newdf2 = pd.read_csv('dataframe.csv')

In [34]:
print(newdf2)

   Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
2     1545    Jahid    EEE    78
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12
6     1545    Rahim    CSE    55

In [36]:
print("Drop the null value:\n",newdf2.dropna())
print("\nDrop the duplicates value & keep single one:\n",newdf2.drop_duplicates(subset=['Roll NO']))
print("\nDrop the duplicates value & keep first duplicates value:\n",newdf2.drop_duplicates(subset=['Roll NO'],keep='first'))
print("\nDrop the duplicates value & keep last duplicates value:\n",newdf2.drop_duplicates(subset=['Roll NO'],keep='last'))
print("\nDrop the duplicates all values:\n",newdf2.drop_duplicates(subset=['Roll NO'],keep=False))

Drop the null value:
    Roll NO     Name Dept. Marks
0     1545    Rahim   CSE    55
2     1545    Jahid   EEE    78
4     1456     Rafi   IPH   Nan
5      326  Shaidul   EEE    12
6     1545    Rahim   CSE    55

Drop the duplicates value & keep single one:
    Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12

Drop the duplicates value & keep first duplicates value:
    Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12

Drop the duplicates value & keep last duplicates value:
    Roll NO     Name  Dept. Marks
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12
6     1545    Rahim    CSE    55

Drop the duplicates all values:
    Roll NO     Name  Dept. Marks
1     7545    Karim    NaN    45
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12

In [37]:
print(newdf1.shape)

(296, 4)

In [38]:
print(newdf2)

   Roll NO     Name  Dept. Marks
0     1545    Rahim    CSE    55
1     7545    Karim    NaN    45
2     1545    Jahid    EEE    78
3     6512      NaN  Civil    95
4     1456     Rafi    IPH   Nan
5      326  Shaidul    EEE    12
6     1545    Rahim    CSE    55

In [39]:
print("Data Frame Info:\n",newdf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Roll NO  7 non-null      int64
 1   Name     6 non-null      object
 2   Dept.    6 non-null      object
 3   Marks    7 non-null      object
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes
Data Frame Info:
 None

In [40]:
print(newdf2.notnull())

   Roll NO   Name  Dept.  Marks
0     True   True   True   True
1     True   True  False   True
2     True   True   True   True
3     True  False   True   True
4     True   True   True   True
5     True   True   True   True
6     True   True   True   True

In [41]:
newdf3 = pd.read_excel('instututesdf.xlsx')
print("Institute data frame:\n", newdf3)

FileNotFoundError: [Errno 2] No such file or directory: 'instututesdf.xlsx'

Bad pipe message: %s [b"?\xc8\xe8#\xb0}\x91\xf9\xe2\xf1\xee\xe7\xfa\xdbN'\x97D\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0"]
Bad pipe message: %s [b'\xf3\x8b9\x8c(x\xf1\x0e\x112QHY\xb4\xd8\xab\xaf\x95\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00']
Bad pipe message: %s [b'#\x00\x00\x00\x0f\x00\x01\x01\x15']
Bad pipe message: %s [b'`\xf6^y\xc2\xb6.\xfdo;j\x97\x0c\xa7a!%\xf7\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10']
Bad pipe message: %s [b'\xd2M\x9e"\xb3bxI\x93\x14I\x82a4\xa0\x0e\xe9\x9e\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14', b"\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00g\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00\x00\x00\r"]
Bad pipe message: %s [b"3\xe2\xed\xe5'H\x0c\xa5\xcf\xd7&\xa8X\xbc\x18T\xb2\x88\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)"]
Bad pipe message: %s [b'\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00;\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00g\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00\x00\x00\r\x00 \x00\x1e\x06\x01\x06\x02\x06\x03\x05\x01\x05\x02\x05\x03\x04\x01\x04\x02\x04\x03\x03\x01', b'\x03\x03']
Bad pipe message: %s [b'\x02', b'\x03']